.Bar {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
}

.LoadingBar {
    height: 4px;
    position: relative;
    background: linear-gradient(90deg, #eee 50%, transparent 50%);
    background-color: #4527a0;
    background-size: 200%;
    background-position: 100%;
    border-radius: 5px;
    transform: scale(-1);
    transition: 0.3s;
}

.LoadingBar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(45deg,
        transparent 25%,
        rgba(238, 238, 238, 0.5) 25%,
        rgba(238, 238, 238, 0.5) 30%,
        transparent 30%,
        transparent 35%,
        rgba(238, 238, 238, 0.5) 35%,
        rgba(238, 238, 238, 0.5) 70%,
        transparent 70%);
    animation: shift 2s linear infinite;
    background-size: 60px 100%;
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.2),
        inset 0 -2px 1px rgba(0, 0, 0, 0.2);
}

@keyframes shift {
    to {
        background-position: 60px 100%;
    }
}
