.OptionsForm {
    flex-basis: 300px;
    margin-right: 5px;
    border: dashed 2px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.OptionsForm__Type {
    display: flex;
}

.OptionsForm__Type--Left {
    flex: 1 1 50%;
}

.OptionsForm__Type--Right {
    flex: 1 1 50%;
}

.OptionsForm__RefreshButton {
    border: 0;
    right: 1rem;
    top: 0.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 0.85em;
    cursor: pointer;
}

.OptionsForm__RefreshButton img {
    margin-right: 0.4em;
}

.OptionsForm>form {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    flex-grow: 1;
    position: relative;
}

.OptionsForm__Type {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
}

.OptionsForm__Title {
    font-weight: bold;
    font-size: 1.15em;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
}

.OptionsForm__SubmitButton {
    text-align: center;
    margin-bottom: 10px;
}

.OptionsForm__SubmitButton button {
    border: 0;
    padding: 0.5em 1em;
    cursor: pointer;
    background: #ffc400;
    text-transform: uppercase;
    color: rgb(49, 46, 46);
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    position: relative;
}

.OptionsForm__SubmitButton a {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.OptionsForm__SubmitButton--DownloadButton {
    background: #1a237e !important;
    color: white !important;
}